{% extends 'base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}

<h1>Post</h1>

<ul>
    {% for post in object_list %}
    <li>
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }}
        {{ post.author.last_name }}-{{ post.post_date }} - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
        {% if user.is_authenticated %}
            <a class="btn btn-success" href="{% url 'update_post' post.pk %}">Edit Post</a>
            <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete Post</a><br/>
        {% endif %}
        {{post.body}}</li>
    {{ post.body|slice:":100"|safe }}
    {% endfor %}
</ul>
{% endblock %}